@mixin shadow-box($border: #fff .5em solid, $shadow: rgba(#000, .15) 0 1px 4px, $border-radius: .3em) {
  @include border-radius($border-radius);
  @include box-shadow($shadow);
  @include box-sizing(border-box);
  border: $border;
}
@mixin reset-shadow-box() {
	@include shadow-box(0px, 0px, 0px);
}
@mixin square($property){
	width: $property;
	height: $property;
}
@mixin user-select($select){
	-moz-user-select: $select;
	-khtml-user-select: $select;
	-webkit-user-select: $select;
	-o-user-select: $select;
	user-select: $select;
}
@mixin border-shadow($top: $color-gray05, $bottom: $color-gray04){
	border-top: 1px solid $top;
	border-bottom: 1px solid $bottom;
}
@mixin center($width, $height){
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: $width/(-2);
	margin-top: $height/(-2);
	width: $width;
	height: $height;
}
