<div style="display:inline">
    <p>xoreos is developed by the <a href ="https://github.com/DrMcCoy/xoreos/blob/master/AUTHORS">xoreos Team</a>.</p>
<p>This site and the xoreos project itself are not operated by, sponsored by, endorsed by, or affiliated with BioWare, Electronic Arts or any of their subsidiaries or partners.</p>
    Powered by <a href="http://octopress.org">Octopress</a> |
    Theme <a href="http://github.com/panks/fabric">fabric</a> by <a href="http://panks.me">Pankaj Kumar</a> |
</div>
