<!-- use full url including 'index.html' for navigation bar if you are using ajax -->
<ul id="nav">
    <li id="ajax"><a href="{{ root_url }}/index.html">Home</a></li>
    <li id="ajax">
      <a href="{{ root_url }}/about/index.html">About</a>
        <li id="ajax"><a href="{{ root_url }}/about/index.html#whatis">&nbsp; – What is xoreos?</a></li>
        <li id="ajax"><a href="{{ root_url }}/about/index.html#license">&nbsp; – License</a></li>
        <li id="ajax"><a href="{{ root_url }}/about/index.html#piracy">&nbsp; – Piracy</a></li>
        <li id="ajax"><a href="{{ root_url }}/about/index.html#currentstatus">&nbsp; – Current status</a></li>
        <li id="ajax"><a href="{{ root_url }}/about/index.html#workleft">&nbsp; – Work left to do</a></li>
        <li id="ajax"><a href="{{ root_url }}/about/index.html#detailedinfo">&nbsp; – Detailed info</a></li>
    </li>
    <li id="ajax"><a href="{{ root_url }}/games/index.html">Games</a></li>
    <li id="ajax"><a href="{{ root_url }}/screenshots/index.html">Screenshots</a></li>
    <li id="ajax"><a target="_blank" href="https://wiki.xoreos.org/">Wiki</a></li>
    <li id="ajax"><a target="_blank" href="https://github.com/xoreos/xoreos/">Main repository</a></li>
    <li id="ajax"><a href="{{ root_url }}/blog/archives/index.html">Blog Archives</a></li>
    <li><a href="{{ root_url }}/atom.xml">RSS</a></li>
    {% if site.simple_search %}
    <li>
    <div id="dark">
        <form method="get" action="{{ root_url }}/search.html" id="search">
            <input name="query" type="text" placeholder="Search..." x-webkit-speech />
        </form>
    </div>
    </li>
    {% endif %}
</ul>
